<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.leven.dmd.pro.intro.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.leven.dmd.pro.intro.Perspective"
            fixed="false"
            icon="icons/perspective.gif"
            id="com.leven.dmd.pro.perspective"
            name="LEVEN">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.leven.dmd.application"
            description="数据模型设计器"
            name="DB Model Designer">
         <property
               name="windowImages"
               value="icons/product16.gif,icons/product32.gif,icons/product48.gif">
         </property>
         <property
               name="appName"
               value="DB Model Designer">
         </property>
       <property
             name="startupForegroundColor"
             value="000000">
       </property>
       <property
             name="startupMessageRect"
             value="7,252,445,20">
       </property>
       <property
             name="startupProgressRect"
             value="5,275,445,15">
       </property>
       <property
             name="aboutImage"
             value="product_lg.gif">
       </property>
       <property
             name="aboutText"
             value="DB Model Designer Application&#x0A;Version: 1.0.0&#x0A;&#x0A;All Rights Reserved.&#x0A;Visit http://www.leven.com.cn for more information.">
       </property>
       <property
             name="preferenceCustomization"
             value="plugin_customization.ini">
       </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            icon="icons/applications_16.png"
            id="com.leven.dmd.pro.intro">
      </intro>
      <introProductBinding
            introId="com.leven.dmd.pro.intro"
            productId="com.leven.dmd.pro.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            introId="com.leven.dmd.pro.intro"
            content="introContent.xml"
            id="com.leven.dmd.pro.configId">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
      </config>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors">
    	<editor
            class="com.leven.dmd.gef.editor.SchemaDiagramEditor"
            contributorClass="com.leven.dmd.gef.action.SchemaActionBarContributor"
            extensions="schema"
            icon="icons/schemaeditor/schema_file.png"
            id="com.leven.dmd.gef.SchemaEditor"
            name="dmd">
      	</editor>
	</extension>
 <extension
       point="org.eclipse.ui.navigator.viewer">
    <viewerContentBinding
          viewerId="com.leven.dmd.pro.schemaNavigatorViewer">
       <includes>
          <contentExtension
                pattern="com.leven.dmd.pro.schemaNavigatorContent">
          </contentExtension>
       </includes>
    </viewerContentBinding>
    <viewerActionBinding
          viewerId="com.leven.dmd.pro.schemaNavigatorViewer">
       <includes>
          <actionExtension
                pattern="com.leven.dmd.pro.nav.provider.SchemaNavigatorActionProvider">
          </actionExtension></includes>
    </viewerActionBinding>
 </extension>
 <extension
       point="org.eclipse.ui.navigator.navigatorContent">
    <navigatorContent
          activeByDefault="true"
          contentProvider="com.leven.dmd.pro.nav.provider.SchemaNavigatorContentProvider"
          icon="icons/navigator/navigator_view.png"
          id="com.leven.dmd.pro.schemaNavigatorContent"
          labelProvider="com.leven.dmd.pro.nav.provider.SchemaNavigatorLabelProvider"
          name="Schema Navigator Content"
          priority="normal">
       <commonSorter
             class="com.leven.dmd.pro.nav.provider.SchemaNavigatorSorter"
             id="com.leven.dmd.pro.NavigatorSorter">
       </commonSorter>
       <triggerPoints>
          <or>
             <instanceof
                   value="com.leven.dmd.pro.nav.domain.INavigatorTreeNode">
             </instanceof>
             <instanceof
                   value="com.leven.dmd.gef.model.PropertyAwareObject">
             </instanceof>
          </or>
       </triggerPoints>
    </navigatorContent>
    <actionProvider
          class="com.leven.dmd.pro.nav.provider.SchemaNavigatorActionProvider"
          id="com.leven.dmd.pro.nav.provider.SchemaNavigatorActionProvider">
       <enablement>
          <or>
             <instanceof
                   value="com.leven.dmd.pro.nav.domain.INavigatorTreeNode">
             </instanceof>
             <instanceof
                   value="com.leven.dmd.gef.model.PropertyAwareObject">
             </instanceof>
          </or>
       </enablement>
    </actionProvider>
 </extension>
 <extension
       point="org.eclipse.ui.views">
    <view
          allowMultiple="false"
          category="org.eclipse.ui"
          class="com.leven.dmd.pro.nav.view.SchemaNavigatorView"
          icon="icons/navigator/navigator_view.png"
          id="com.leven.dmd.pro.schemaNavigatorViewer"
          name="DMD Navigator"
          restorable="true">
    </view>
 </extension>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          class="com.leven.dmd.pro.pref.DBConfigPreferencePage"
          id="com.leven.dmd.pro.DBPreferencePage"
          name="数据源配置">
    </page>
 </extension>
 <extension
       point="org.eclipse.ui.propertyPages">
    <page
          adaptable="false"
          class="com.leven.dmd.pro.nav.prop.NavigatorPropertyPage"
          icon="icons/applications_16.png"
          id="DbDesigner1.0.0.navproppage"
          name="navproppage"
          objectClass="com.leven.dmd.pro.nav.domain.INavigatorTreeNode"
          selectionFilter="single">
       <enabledWhen>
          <and>
             <instanceof
                   value="com.leven.dmd.pro.nav.domain.INavigatorTreeNode">
             </instanceof>
             <adapt
                   type="com.leven.dmd.pro.nav.domain.INavigatorTreeNode">
                <test
                      forcePluginActivation="true"
                      property="type"
                      value="1">
                </test>
             </adapt>
          </and>
       </enabledWhen>
    </page>
 </extension>
 <extension
       id="DMD"
       point="org.eclipse.core.runtime.products">
    <product
          application="com.leven.dmd.pro.application"
          name="DMD">
       <property
             name="windowImages"
             value="/DbDesigner/icons/product16.gif,/DbDesigner/icons/product32.gif,/DbDesigner/icons/product48.gif">
       </property>
       <property
             name="aboutText"
             value="DB Model Designer Application&#x0A;Version: 1.0.0&#x0A;&#x0A;All Rights Reserved.&#x0A;Visit http://www.leven.com.cn for more information.">
       </property>
       <property
             name="aboutImage"
             value="/DbDesigner/product_lg.gif">
       </property>
       <property
             name="startupForegroundColor"
             value="000000">
       </property>
       <property
             name="startupProgressRect"
             value="5,275,445,15">
       </property>
       <property
             name="startupMessageRect"
             value="7,252,445,20">
       </property>
       <property
             name="appName"
             value="DMD">
       </property>
       <property
             name="preferenceCustomization"
             value="plugin_customization.ini">
       </property>
    </product>
 </extension>
 
 <extension
 	point="org.eclipse.ui.console.consoleFactories">
 	<consoleFactory
 		class="com.leven.dmd.pro.console.ConsoleFactory"
 		label="建模信息控制台">
 	</consoleFactory>
 </extension>
</plugin>
